In [1]:
import pandas as pd

Aufgabe 1

In [71]:
#a)
df = pd.DataFrame({"Wien" : {"country": "Österreich",
                             "area": 416.6,
                             "population": 1805681
                             },
                   "Berlin": {"country": "Deutschland",
                              "area": 891.85,
                              "population": 3562166
                              },
                   "Zürich": {"country": "Schweiz",
                              "area": 87.88,
                              "population": 378884
                              }
                    })

print(df)

                  Wien       Berlin   Zürich
country     Österreich  Deutschland  Schweiz
area             416.6       891.85    87.88
population     1805681      3562166   378884

In [72]:
#b)
df = df.sort_index()
print(df)

                  Wien       Berlin   Zürich
area             416.6       891.85    87.88
country     Österreich  Deutschland  Schweiz
population     1805681      3562166   378884

In [73]:
#c)
df = df.T
df = df.sort_index()
print(df)

          area      country population
Berlin  891.85  Deutschland    3562166
Wien     416.6   Österreich    1805681
Zürich   87.88      Schweiz     378884

Aufgabe 2

In [50]:
#a)
namen = ["Henry", "Sarah", "Elke", "Lulu", "Vera", "Toni", "Maria", "Chris"]

werte = {"Gewicht":[65, 58, 58, 45, 43, 99, 68, 60],
         "Größe":[179, 165, 172, 154, 150, 189, 176, 175]}

df2 = pd.DataFrame(werte, index=namen)
print(df2)

       Gewicht  Größe
Henry       65    179
Sarah       58    165
Elke        58    172
Lulu        45    154
Vera        43    150
Toni        99    189
Maria       68    176
Chris       60    175

In [51]:
#b)
bmi = df2.Gewicht / (df2.Größe/100)**2

cond1 = bmi >= 18.5
cond2 = bmi <= 25
print(df2[cond1 & cond2])

       Gewicht  Größe
Henry       65    179
Sarah       58    165
Elke        58    172
Lulu        45    154
Vera        43    150
Maria       68    176
Chris       60    175

In [55]:
#c)
cond3 = df2.index.str.contains('e')
print(df2[cond3])

       Gewicht  Größe        BMI
Henry       65    179  20.286508
Elke        58    172  19.605192
Vera        43    150  19.111111

In [52]:
#d)
df2.loc[:, 'BMI'] = bmi
#df2.insert(0, 'BMI', bmi)
print(df2)

       Gewicht  Größe        BMI
Henry       65    179  20.286508
Sarah       58    165  21.303949
Elke        58    172  19.605192
Lulu        45    154  18.974532
Vera        43    150  19.111111
Toni        99    189  27.714790
Maria       68    176  21.952479
Chris       60    175  19.591837

In [53]:
#e)
df2 = df2.sort_values(by=['BMI'], ascending=False)
print(df2)

       Gewicht  Größe        BMI
Toni        99    189  27.714790
Maria       68    176  21.952479
Sarah       58    165  21.303949
Henry       65    179  20.286508
Elke        58    172  19.605192
Chris       60    175  19.591837
Vera        43    150  19.111111
Lulu        45    154  18.974532

In [56]:
#f)
cond4 = df2.BMI < 20
print(df2[cond3 & cond4])

      Gewicht  Größe        BMI
Elke       58    172  19.605192
Vera       43    150  19.111111